<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Usuarios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon aria-hidden="true" name="file-tray-stacked-outline"></ion-icon>
      <ion-label>Categoria Producto</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon aria-hidden="true" name="layers-outline"></ion-icon>
      <ion-label>Producto</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon aria-hidden="true" name="bag-outline"></ion-icon>
      <ion-label>Carrito Compra</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon aria-hidden="true" name="medkit-outline"></ion-icon>
      <ion-label>Equipo Medico</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab6">
      <ion-icon aria-hidden="true" name="construct-outline"></ion-icon>
      <ion-label>Orden Reparacion</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
